:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color-blue: #2196f3;
  --accent-color-white: #ffffff;
  --backgroud-color: #ffffff;
  --icon-fill: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*! Глобальні стилі */

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--backgroud-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul{
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.71;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*! header */

.container.top {
  display: flex;
  align-items: center;
  border-bottom: 1px #ececec;
}
.header {
  border-bottom: 1px solid #ececec;
}

.logo {
  margin-right: 93px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  text-decoration: none;
}
.logo-part {
  color: var(--accent-color-blue);
}

.nav {
  display: flex;
  list-style-type: none;
}

.li-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  position: relative;
  display: block;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
   transition: color 250ms var(--timing-function);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color-blue);
 
}
.nav-link.current::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: '';
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-image: url(../images/line-current.svg);
}
.current {
  color: var(--accent-color-blue);
}


.header-icon {
  fill: currentColor;
  margin-right: 10px;
}

.header-address {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header-mail {
  margin-right: 50px;
}
.header-mail,
.header-tel {
  display: flex;
  align-items: center;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
  transition: color 250ms var(--timing-function);
}
.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color-blue);
  
}

/*! main */

/* герой */
.section.hero {
  padding: 200px 0;
  max-width: 1600px;
  background-color: #c4c4c4;
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
}
.hero {
  margin: 0 auto;
}
.hero-title {
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--accent-color-white);
}
.container.hero .button {
  margin: 0 auto;
}
.button {
  display: block;
  min-width: 216px;
  min-height: 50px;
  padding: 10px 32px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--accent-color-white);
  background-color: var(--accent-color-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms var(--timing-function);
}

.button:hover,
.button:focus {
  background-color: #188ce8;
  
}

/* modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms var(--timing-function);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
  transition: transform 250ms var(--timing-function);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  background-color: var(--backgroud-color);

  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-function), opacity 250ms var(--timing-function);
}
.btn-close-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--backgroud-color);
  color: #000000;
  transition: color 250ms var(--timing-function);
}
.btn-close-modal:focus,
.btn-close-modal:hover {
  color: var(--accent-color-blue);
  
}
.icon-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: currentColor;
}

.modal-form {
  display: flex;
  flex-direction: column;
  padding: 40px 40px;
}
.modal-form label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}
.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  padding-top: 2px;
  margin-bottom: 12px;
}
.modal-form .form-field {
  margin-bottom: 10px;
}
.modal-form .form-field:last-child {
  margin-bottom: 20px;
}
.form-field label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}
.form-field input {
  width: 100%;
  height: 40px;
  padding: 11px 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
   transition: outline 250ms var(--timing-function);
}
.form-field:focus-within input {
  outline: 1px solid var(--accent-color-blue);
 
}
.form-field {
  position: relative;
}
.icon-modal-field {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 12px;
  margin-top: 11px;
  margin-bottom: 11px;
}
.form-field .icon-modal-field{
   transition: fill 250ms var(--timing-function);
}
.form-field:focus-within .icon-modal-field {
  fill: var(--accent-color-blue);
}
.form-field.textarea {
  margin-bottom: 20px;
}
.form-field textarea {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
}
.form-field textarea {
transition: outline 250ms var(--timing-function);
}

.form-field:focus-within textarea {
  outline: 1px solid var(--accent-color-blue);
  border: none;
}
.form-field textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.icon-modal-check {
  fill: currentColor;
}

.checkbox-wrap {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 12px 0 11px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.checkbox:checked + .icon-check-box {
  background-color: var(--accent-color-blue);
  border: 2px solid var(--accent-color-blue);
  transition: background-color 250ms var(--timing-function);
}

.icon-check-box {
  position: absolute;
  left: -10px;
  top: 3px;
  display: flex;
  align-items: center;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid #000000;
  color: var(--accent-color-white);
  background-color: var(--accent-color-white);
}
.terms-contract {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color-blue);
}

.checkbox-wrap .checkbox-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 0;
}
.modal-submit {
  width: 200px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--accent-color-white);
  background-color: var(--accent-color-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin: 0 auto;
  padding: 10px 52px;
  cursor: pointer;
  transition: background-color 250ms var(--timing-function);
}
.modal-submit:hover,
.modal-submit:focus {
  background-color: #188ce8;
}
/* особливості */
.features {
  padding-bottom: 0;
}
.features-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  text-align: center;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}

.list-title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  color: var(--title-text-color);
  text-transform: uppercase;
}
.list.cards {
  display: flex;
}
.list.cards .card:not(:last-child) {
  margin-right: 30px;
}
/* чим ми займаємось */
.list.occupation {
  display: flex;
  justify-content: space-between;
}

.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--title-text-color);
  text-align: center;
}
.occupation-item {
  position: relative;
}
.occupation-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color-white);
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px 0;
}
/* наша команда */
.our-team {
  background-color: #f5f4fa;
}
.list.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card-team {
  background: var(--backgroud-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
  text-align: center;
}
.work-title {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-text-color);
  text-align: center;
}
.soc-list {
  display: flex;
  padding: 0 32px 30px 32px;
}

.soc-item:not(:last-child) {
  margin-right: 10px;
}

.team-icon-box {
  display: block;
  color: var(--icon-fill);
  width: 44px;
  height: 44px;
  padding: 12px 0;
  text-align: center;
  border-radius: 50%;
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
}
.team-icon-box:focus,
.team-icon-box:hover {
  background-color: var(--accent-color-blue);
  color: var(--accent-color-white);
}
.team-icon {
  fill: currentColor;
}
/* Постійні клієнти */
.clients {
  background-color: var(--backgroud-color);
}
.clients-item:not(:last-child) {
  margin-right: 30px;
}
.clients-list {
  display: flex;
}
.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 170px;
  height: 92px;
  color: var(--icon-fill);
  border: 1px solid var(--icon-fill);
  border-radius: 4px;
  transition: color 250ms var(--timing-function), border 250ms var(--timing-function);
}
.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color-blue);
  border: 1px solid var(--accent-color-blue);
  
}
.clients-icon {
  fill: currentColor;
}
/*! footer */
.footer-container {
  display: flex;
}
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.address-container {
  margin-right: 70px;
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color-white);
  text-decoration: none;
}
.footer-address {
  margin-top: 20px;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  color: var(--accent-color-white);
}

.footer-place {
  display: block;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.71;
  color: var(--accent-color-white);
  text-decoration: none;
}
.footer-mail {
  display: block;
  margin-bottom: 9px;
}
.footer-tel {
  display: block;
}
.footer-mail,
.footer-tel {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.join-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color-white);
}
.footer-soc {
  margin-right: 93px;
}
.footer-soc-list {
  display: flex;
}
.footer-icon-box {
  display: block;
  width: 44px;
  height: 44px;
  padding: 12px 0;
  text-align: center;
  border-radius: 50%;
  color: var(--accent-color-white);
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--timing-function);
}
.footer-icon-box:focus,
.footer-icon-box:hover {
  background-color: var(--accent-color-blue);
  
}
.footer-icon {
  fill: currentColor;
}

.subscribe {
}
.subscribe-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color-white);
}
.subscribe-wrap {
  display: flex;
}
.subscribe-btn {
  display: flex;
  gap: 10px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--accent-color-white);
  background-color: var(--accent-color-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid var(--accent-color-blue);
  padding: 10px 28px;
  cursor: pointer;
}
.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #188ce8;
  transition: background-color 250ms var(--timing-function);
}
.subscribe-wrap input {
  width: 358px;
  padding: 15px 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-wrap input::placeholder {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-wrap input {
  transition: outline 250ms var(--timing-function);
}
.subscribe-wrap:focus-within input {
  outline: 1px solid #2196f3;
  
}
/*! PORTFOLIO */

/* фільтр */

.list.filter {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
.li-filter:not(:last-child) {
  margin-right: 8px;
}
.button-portfolio {
  padding: 6px 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  color: var(--title-text-color);
  text-align: center;

  background-color: #f5f4fa;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}
.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--accent-color-white);
  background: var(--accent-color-blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  
}
/* приклади робіт */

.list.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -30px;
  margin-top: -30px;
}
.card-project {
  margin-left: 30px;
  margin-top: 30px;
  transition: box-shadow 250ms var(--timing-function);
}
.card-project:hover,
.card-projecr:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  
}

.box-overlay {
  position: relative;
  overflow: hidden;
}
.hover-text {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--accent-color-white);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transform: translateY(100%);
}
.portfolio-link .hover-text {
  transition: transform 250ms var(--timing-function), opacity 250ms var(--timing-function);
}
.portfolio-link {
  color: var(--primary-text-color);
  text-decoration: none;
}

.portfolio-link:hover .hover-text {
  transform: translateY(0%);
  opacity: 1;
}
.portfolio-link:focus .hover-text {
  transform: translateY(0%);
  opacity: 1;
}
.card-bottom {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}
.project-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.project {
  font-size: 16px;
  line-height: 1.88;
}
