body {
    font-family: $font-family-main;
    letter-spacing: 0.03em;
    color: $primary-text-color;
    background-color: $backgroud-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.71;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}